/* BASICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0, 51, 102, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

input[type="radio"] {  /* BEST PART: SENDING IT TO THE WHORE THAT DELIVERED */
  position: absolute;
  left: -99999px;
}

/* CONTAINERS */

.container {
  width: 1200px;
  margin: 0 auto;
  font-family: Verdana;
  font-size: 11px;
  display: flex;
  box-shadow: 0 20px 20px rgba(0,0,0,0.19), 20px 20px 20px rgba(0,0,0,0.23);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
}

.container__left {
  width: 18%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.container__right {
  width: 82%;
  display: flex;
  flex-direction: column;
}

/* LOGO */

.logo {
  background: #fff;
  padding: 0 20px;
  height: 62px;
}

.logo__img {
  width: 120px;
}

/* LEFT CONTAINER */

.container__left--myaccount, 
.container__left--more, 
.container__left--copyright {
  background: #404040;
  display: flex;
  flex-direction: column;
  color: #a6a6a6;
}

.container__left--copyright {
  text-transform: none;
  align-items: flex-start;
  font-size: 10px;
  padding: 50px 20px 20px;
  color: #666666;
}

.more__box--radio {
  width: 200px;
  border-left: solid 5px;
  border-color: #404040;
  padding: 10px 0 10px 30px;
  width: 100%;
}

.more__box--radio:hover {
  cursor: pointer;
}

input[type="radio"]:checked +.more__box--radio {
  background: #999999;
  border-color: #0099cc;
  color: #fff;
}

.btn {
  border: 0;
  background: #0099cc;
  font-weight: 400;
  font-size: 1em;
  border-radius: 3px;
  border: solid 1px;
  font-size: 12px;
  border-color: #0099cc;
  color: #fff;
  cursor: pointer; 
}

.btn__send-payment {
  padding: 0 20px;
  width: 150px;
  margin: 15px auto;
  height: 30px;
}

/* MY ACCOUNT/MORE BOX */

.myaccount__box, .more__box {
  border-bottom: solid 1px;
  width: 100%;
  padding: 29px 20px 20px;
  color: #000;  /* Se eu não tivesse declarado esta cor, a borda ficaria com a cor declarada em LEFT CONTAINER */
}

.myaccount, .more {
  color: #fff;
}

/* RIGHT CONTAINER */

.container__right--profile {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.profile__left {
  background: #0099cc;
  display: flex;
  color: #fff;
  height: 100%;
  width: 25%;
  align-items: center;
  justify-content: space-around;
}

.profile__left--value {  /* a fonte não está igual */
  font-weight: bold;
}

.profile__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32%;
}

.profile__right--select {
  border: none;
  background: none;
  font-family: Verdana;
  color: #8c8c8c;
  font-size: 10px;
}

.profile__right--notifications {
  height: 62px;
  display: flex;
  align-items: center;
}

.profile__right--config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}


.profile__right--notifications:hover, 
.profile__right--select:hover, 
.profile__right--config:hover {
  cursor: pointer;
}

.config__img {
  height: 40px;
  margin: 10px;
}

.notifications__bell {
  color: #8c8c8c;
  font-size: 12px;
}

.notifications__circle {
  font-size: 5px;
  color: #ff0000;
  position: relative;
  bottom: 5px;
}

.config__angle-down {
  font-size: 14px;
  color: #8c8c8c;
  margin: 0 12px;
}

/* NAV */

.container__right--nav {
  height: 62px;
  background: #eee;
  text-transform: uppercase;
  align-items: center;
  display: flex;
}

.nav {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 50px;
}

.nav__radio {
  color: #8c8c8c;
  font-weight: bold;
  height: 62px;
  border-bottom: solid 3px;
  border-color: #eee;
  display: flex;
  align-items: center;
  padding: 0 2px;
  font-size: 10px;
}

.nav__radio:hover {
  cursor: pointer;
}

input[type="radio"]:checked +.nav__radio {
  border-color: #0099cc;
  color: #000;
}

/* BLANK */

.container__right--blank {
  background: #fff;
  display: flex;
  height: 255px;
}

/* HISTORY */

.container__right--history {
  background: #eee;
  display: flex;
  height: 427px;
  justify-content: center;
  align-items: center;
}

.history--container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.history__top {
  height: 62px;
  background: #999999;
  display: flex;
  color: #bfbfbf;
  justify-content: space-between;
  align-items: center;
  border: unset;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.activity {
  color: #fff;
  margin: 30px;
  font-size: 14px;
}

.history__top--right {
  background: #666666;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: solid 1px;
  border-color: #666666;
  border-top-right-radius: 5px;
}

.history__middle {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  color: #bfbfbf;
  width: 100%;
}

/* Tive que criar esta classe porque estava dando um probleminha se eu declarasse text-decoration na classe acima. */
.history__middle--underlined-text {
  text-decoration: underline;
}

.history__middle--underlined-text:hover {
  cursor: pointer;
}

.btn__archive {
  padding: 5px 15px;
  margin: 25px;
}

.history__middle--right {
  padding: 25px;
}

.history__bottom--lines {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-size: 10px;
  color: #666666;
  width: 100%;
}

.btn__show {
  padding: 5px 12px;
}

.lines__item {
  width: 10%;
}

.lines__item--completed {
  color: #00cc00;
  font-weight: bold;
}

.lines__white {
  background: #fff;
}

.lines__nav {
  color: #000;
  font-weight: bold;
}

.bottom__white {
  background: #fff;
  height: 25px;
  border: unset;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* TODO: fontes diferentes */